
 
    h2{
        text-align:center;
        font-family:"Lucida Handwriting","Cursive";
        color:#800080;
    
    }
    h1{
        text-align: center;
        color:#4B0082;
    }
    h3{
        text-align: center;
        font-family:"Brush Script MT","Cursive";
        font-size:30px;
        color:purple;
    }
    .userinput {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .input{
    margin-left: 100px;
    }
    
    #num {
        padding: 10px;
        border-radius: 27px;
        background-color:#FFC0CB;
    font-size: 15px;
    border:none;
    color: black;
    }
    .input button{
        border-radius: 54px;
        width:100px;
        height:50px;
        font-size: 20px;
        background-color:#FF69B4;
        border:none;
        box-shadow: 0 8px 16px 0 pink, 0 6px 20px 0 purple;
    }
    .main{
        background-color:#FFC0CB;
      width:1280px;
      padding:5px;
      border-radius: 20px;
      box-shadow: 0 8px 16px 0 purple, 0 6px 20px 0 violet;
      
      
    }
    .semicircle{
        background-color:#DDA0DD;
      
      margin-top: 0%;
      padding: 10px;
      border-radius: 0 0 50% 50%;
      height:150px;
      width:350px;
      margin-left: 450px;
      box-shadow: 0 8px 16px 0 violet, 0 6px 20px 0 #FF69B4;
    }
    
    
    .body {
        background-color:#E6E6FA;
        border: 18px solid #33006F;
        width:1290px;

      }
    
    h4{
        font-size: 20px;
        color:#4B0082;
        font-family:"Lucida Handwriting","Cursive";
    }
    
    #displayArea{
        font-size: 30px;
        color:#FF00BF;
        font-weight:bolder;
        padding-bottom: 10px;
        
    }
    
    #randomNumber{
        font-size: 30px;
        color:#33006F;
        font-weight:bolder;
        padding-bottom: 5px;
    }
    
    .bottom{
        display:flex;
        justify-content: space-between;
    }
    @media (height<=1087px){
        .body {
            height:2200px;
             }
    }
    
    @media (width<=1594px){
        .body {
            background-color:#E6E6FA;
            border:none;
            width:1290px;
            margin:none;
          }
          .devpic{
            margin-right: 500px;
          }
          .input button{
            margin-top:5px;
          }
          /*#randomNumber{
            margin-right: 400px;
          }*/
          .bottom{
            display:block;
            justify-content: space-between;
        }
          
    }

    @media(width<=1588px){
        .main{
        margin-left:380px;
          width:500px;
          
          
        }
    }

   